# General ignores
.idea/
.DS_Store
# Vim swap files
*.sw[op]

# Processing ignores
build-tmp/

# Jekyll ignores
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# Ignored from Fractal/
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
