<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href={{ "/assets/OpenSans.css" | relative_url}}>
		<link rel="stylesheet" type="text/css" href={{ "/assets/styles.css" | relative_url}}>
		<script src={{ "/assets/processing.js" | relative_url }}></script>
		{% for script_src in page.additional_scripts %}
			<script src={{ script_src | relative_url }}></script>
		{% endfor %}
	</head>
	<body>
		<header>
			<a class="back-link" href="{{ site.url }}{{ site.baseurl }}/">&lt; Other Projects</a>
			<h1>
				{{ page.header | markdownify }}
			</h1>
		</header>
		<main>
			<canvas id="{{ page.id }}" data-processing-sources="{{ page.sources | join: ' ' }}"></canvas>
		</main>
		<footer>
			{{ content }}
		</footer>
	</body>
</html>